body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

input {
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}

button {
  padding: 10px 16px;
  background: lightgray;
  border: none;
  border-radius: 4px;
}

.list-bg {
  background: rgb(249, 250, 255);
  padding: 10px;
}

.list-item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
  box-shadow: rgb(224, 224, 224) 0px 2px 4px 0px;
}

.list-item h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
}

.list-item p {
  color: gray;
  margin: 4px 0px;
}

.p-20 {
  padding: 20px;
}

.navbar {
  background: white;
  padding: 20px;
}

.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logo {
  font-weight: bold;
}

.list-item {
  opacity: 1;
  transition: all 1s;
}

.comment-item {
  display: flex;
  flex-direction: row;
  padding: 8px 0px;
}

p.comment-author {
  margin: 0px;
}

p.comment-content {
  margin: 0px 0px 0px 8px;
}

.dark-mode .navbar {
  background: #222;
}

.dark-mode .navbar a {
  color: white;
}

.dark-mode-button{
  cursor: pointer;
}